@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: "Poppins", sans-serif;
  background-color: #141729;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #eeefef inset !important;
  box-shadow: 0 0 0 1000px #eeefef inset !important;
  -webkit-text-fill-color: #141729 !important;
  transition: background-color 5000s ease-in-out 0s;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
